/* ===================START GLOBAL============================================================================ */
:root {
    --normal-color: #212121;
    --description-color: #757575;
    --active-1-color: #2196F3;
    --active-2-color: #188CE8;
    --background-color: #2F303A;
    --contact-color: #999999;
    --white-text-color: #FFFFFF;
    --top-line-color: #ECECEC;
    --bg-team-color: #F5F4FA;
    --bg-card-port-color: solid #EEEEEE;
    --icon-color-1: #AFB1B8;
    --icon-color-2: rgba(255, 255, 255, 0.1);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.sprite-color {
    fill: var(--active-1-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

body {
    font-family: 'Roboto';
    color: var(--normal-color);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.center {
    justify-content: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ===================END GLOBAL============================================================================ */
/* ===================START HEADER============================================================================ */

.header-bot-line {
    border-bottom: 1px solid var(--top-line-color);
}

.logo1 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--active-1-color);
    display: inline-block;
}

.logo2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--background-color);
    display: inline-block;
}

.logo2:visited {
    color: var(--background-color);
}

header{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}

.header-top-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-top-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
}

.header-top-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 93px;
}


.header-con {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.logo-box {
    border: 2px;
    width: 145;
    height: 31;
}

.menu-box {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.menu-pad {
    margin-right: 50px;
}

.menu1 {
    text-decoration: none;
    color: var(--normal-color);
}

.menu2 {
    text-decoration: none;
    color: var(--active-1-color);
}

.mail-icon {
    fill: var(--contact-color);
    margin-right: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.contact1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--description-color);
    margin-left: auto;
}

.contact-pos {
    margin-right: 30px;
}

.contact1:focus,
.contact1:hover {
    color: var(--active-1-color);
}

.contact1:focus .mail-icon,
.contact1:hover .mail-icon {
    fill: var(--active-1-color);
}


.menu1:hover,
.menu1:focus {
    color: var(--active-1-color);
}

/* ===================END HEADER============================================================================ */
/* ===================START TITLE============================================================================ */

.title-bg {
    background-color: var(--background-color);
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ), url("../images/title-bg.jpg");
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}

button {
    cursor: pointer;
    outline: 0;
    border-radius: 4px;
    border-width: 0;
}

.button1:hover,
.button1:focus {
    color: var(--white-text-color);
    background: var(--active-2-color);
    outline: 0;
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
    color: var(--white-text-color);
    margin-bottom: 30px;
    text-transform: none;
}

.title-box {
    list-style: none;
    text-align: center;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.button1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    color: var(--white-text-color);
    background-color: var(--active-1-color);
    padding: 10px 32px;
}

/* ===================END TITLE============================================================================ */
/* ===================START FEATURE============================================================================ */


.feature-box {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: -30px;
    margin-top: -30px;
}

.feature {
    flex-basis: calc(( 100% - 10px) / 5);
    margin-left: 30px;
    margin-top: 30px;
    border: 1px;
}

.feature-title {
    text-transform: initial;
    border: 1px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.feature-subtitle {
    border: 1px;
    font-size: 14px;
    line-height: 1.7;
    color: var(--description-color);
}

.feature-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background: var(--bg-team-color);
    border-radius: 4px;
    margin-bottom: 30px;
}

.feature-icon {
    width: 70;
    height: 70px;

    /* css переменная для спрайта */
    --color-fill: #2196F3;

}

.feature-section {
    padding-bottom: 47px;
}

/* ===================END FEATURE============================================================================ */
/* ===================START IMG WORK============================================================================ */

.subject {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.subject-section {
    padding-top: 47px;
}

.subject-box {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: -30px;
    margin-left: -30px;
}

.subject-img {
    flex-basis: calc(( 100% - 90px) / 3 );
    margin-top: 30px;
    margin-left: 30px;
}

.subject-size {
    margin-right: 30px;
}

/* ===================END IMG WORK============================================================================ */
/* ===================START TEAM============================================================================ */

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.team-bg {
    background-color: var(--bg-team-color);
}

.team-box {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: -30px;
    margin-top: -30px;
}

.team {
    flex-basis: calc((100% - 120px) / 4 );
    margin-left: 30px;
    margin-top: 30px
}

.team-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px;
}

.team-text-position {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-subtitle {
    font-size: 16px;
    line-height: 1.2;
    color: var(--description-color);
}

.team-box .team {
    display: block;
    border: 1px;
    width: 270px;
    height: 428px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-text-color); 
}

.team-a-position {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.team-a-border {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: var(--white-text-color);
    margin-right: 10px;
}

.team-a-icon {
    fill: var(--icon-color-1);
}

.team-a-border:hover,
.team-a-border:focus {
    background-color: var(--active-1-color);
}

.team-a-border:hover .team-a-icon,
.team-a-border:focus .team-a-icon {
    fill: var(--white-text-color);
}

/* ===================END TEAM============================================================================ */
/* ===================START CLIENTS============================================================================ */

.client-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--normal-color);
    margin-bottom: 50px;
}

.client-a-position {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

.client-a-border {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color-1);
}

.client-a-icon {
    fill: var(--icon-color-1);
}

.client-a-border:hover,
.client-a-border:focus {
    border: 1px solid var(--active-1-color);
}

.client-a-border:hover .client-a-icon,
.client-a-border:focus .client-a-icon {
    fill: var(--active-1-color);
}

/* ===================END CLIENTS============================================================================ */
/* ===================START PORTFOLIO============================================================================ */

.button2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    flex-basis: calc(( 100% - 90px) / 5 );
    margin-left: 8px;
    background-color: var(--bg-team-color);
    border-radius: 4px;
    padding: 6px 22px;
}

.button-box-portfolio {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin-left: -8px;
    margin-bottom: 50px;
}

.button2:hover,
.button2:focus {
    color: var(--white-text-color);
    background: var(--active-1-color);
}

.project-box {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: -30px;
    margin-top: -30px;

}

.project {
    flex-basis: calc(( 100% - 90px) / 3 );
    margin-left: 30px;
    margin-top: 30px
}

.project:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.border-text-project {
    border-left: 1px var(--bg-card-port-color);
    border-right: 1px var(--bg-card-port-color);
    border-bottom: 1px var(--bg-card-port-color);
    box-sizing: border-box;
}

.project-text-pos {
    margin-bottom: 20px;
    margin-left: 24px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.project-subtitle {
    font-size: 16px;
    line-height: 1.9;
    color: var(--description-color);
}

/* ===================END PORTFOLIO============================================================================ */
/* ===================START FOOTER============================================================================ */

footer {
    font-size: 14px;
    line-height: 1.7;
    color: var(--white-text-color);
    position: absolute;
    background: var(--background-color);
    left: 0px;
    right: 0px;
    
}

.footer-bot-container {
    display: flex;
    justify-content: flex-start;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-bot {
    position: relative;
    display: flex;
}

.footer-bot-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    margin-bottom: 20px;
}

.footer-bot-adre {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
}

.logo3 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--active-1-color);
    text-decoration: none;
    display: inline-block;
}

.logo4 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    display: inline-block;
    color: var(--white-text-color);
}


.contact2 {
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    color: var(--contact-color);
}


.contact2:focus,
.contact2:hover {
    color: var(--active-1-color);
}


.address {
    font-style: normal;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.fopter-social {
    margin-left: 70px;
}

.footer-social-head {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--white-text-color);
    margin-top: 12px;
    margin-bottom: 20px;
}

.footer-social-position {
    display: flex;
    justify-content: center;
}

.footer-social-border {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: var(--icon-color-2);
    margin-right: 10px;
}

.footer-social-icon {
    fill: var(--icon-color-1);
}

.footer-social-border:hover,
.footer-social-border:focus {
    background-color: var(--active-1-color);
}

.footer-social-border:hover .footer-social-icon,
.footer-social-border:focus .footer-social-icon {
    fill: var(--white-text-color);
}


/* ===================END FOOTER============================================================================ */





